/* Basic page settings */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
  max-width: 1200px; 
  margin: 0 auto;
  padding: 0 1.5rem; 
}
.grid {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 1fr; 
}
@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr); /* 2 columns on tablets */
  }
}
@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(3, 1fr); /* 3 columns on desktops */
  }
}
/*----------------------------------------------------------------------------*/

/* Core elements */
body{
    display: flex;
    flex-direction: column;
    background: url(../Media/bck2.png)  center / cover no-repeat;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif ;
}
header{
    height: 13vh;
    display: flex;
    align-items: center;
    gap: 13px; 
    border-bottom: 0.1px groove paleturquoise;
}
main{
    padding-top: 5px;
    padding-left: 5px;
    flex: 1;
    
    
}

/*----------------------------------------------------------------------------*/

/* Components with id */
#logo{
    height: 100px;
    width: 100px;
}
#home{
  margin-left: 92vh;
}
#Lfou9{
  display: flex;
  align-items: center;
  gap: 40px;
  height: 35vh;
  padding-top: 10vh;
  padding-bottom: 5vh;
}

#Louta{
  height: 50vh;
}

#laptop{
  height: 45vh;
  width: 50vw;
  float: right;
  
  object-fit: contain;    /* Prevents the image from stretching/distorting */
}
#NA{
    color: white;
    font-weight: bold;
    font-size: 45px;
    margin-top: 0;
}
/*----------------------------------------------------------------------------*/


/* Classes */
.text-box{
  width: 50%;
  height: 20vh;
  padding-top: 40px;
  padding-left: 50px;
  margin-top: 0;
  margin-left: 10vh;
}
.head{
  margin-right: 15px;
  color: white;
  font-weight: bold;
  font-size: 26px;
}
/*----------------------------------------------------------------------------*/

/* Components: Generic */
p{
    color: aliceblue;
    width: fit-content;
}
h1{
    color: aliceblue;
    font-size: 200%;
    
}
h2{
    color: aliceblue;
    text-align: center;
    margin-top: 20px;
}
button{
    background-color: black;
    color: aliceblue;
    border-color: aliceblue;
    border-width: 3px;
    position:right;
}

