
body{
    background-image: url(bck.jpeg) ;
}
p{
    color: aliceblue;
}
h1{
    color: aliceblue;
    font-size: 40px;
}
h2{
    color: aliceblue;
}
button{
    background-color: black;
    color: aliceblue;
    border-color: aliceblue;
    border-width: 3px;
    position:right;
}
header{
    border-color: aliceblue;
    border-width: 4px;
    border: 4px;
}
footer{
    border-color: aliceblue;
    border-width: 4px;
}
